.answer {
    display: flex;
    margin: 10px 0 20px 0;
    padding: 10px 0;
    border: 2px dotted #c7cb5e;
    border-radius: 10px;
}

.answer label {
    margin: 0 5px;
}

.chooseAnswerBlock {
    margin: 10px 0;
    width: 120px;
}

.chooseAnswerBlock p {
    margin: 0;
}

.chooseBlock {
    margin: 10px 0;
    display: flex;
}

span {
    font-size: 11px;
}
